body {
    background-color: lightgrey;
}

.country-intro {
    background-color: rgb(62, 62, 62);
}

h1 {
    color: purple;
    text-decoration: underline;
    padding-top: 60px;
}

h2 {
    color: red;
    text-decoration: underline;
    padding-top: 60px;
}

h3 {
    color: green;
    text-decoration: underline;
    padding-top: 60px;
}

.country-flag-artwork {
    width: 25%;
}

.album-cover {
    width: 100%;
}